@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using RealEstate_Mvc_.Dtos
@model CustomerResponseModel

@{
    ViewBag.Title = "Customer Details";
}
<h2>@ViewData["Title"]</h2>
<form asp-action="GetByCustomerById" method="get">
    <div class="form-group">
        <label for="Id">Enter Customer By Id:</label>
        <input type="text" class="form-control" id="CustomerId" name="Id" placeholder="Enter Customer Id" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>


@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}
else
{
    <img src="@Model.ProfilePicture" class="card-img-top img-fluid" alt="@Model.ProfilePicture" />
    <div class="customer-details">
        <h5 class="card-title">@Model.FirstName</h5>
        <h5 class="card-title">@Model.LastName</h5>
        <p class="card-text">@Model.Email</p>
        <p class="card-text">@Model.Gender</p>
        <p class="card-text">@Model.Address</p>
        <p class="card-text">@Model.PhoneNumber</p>
        <p class="card-text">@Model.Age</p>
        <p class="card-text">@Model.Wallet</p>
        <!-- Add more fields as necessary -->
    </div>
}

